//Fonts
@import "custom/fonts/fonts";

//Core files
@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "variables";
@import "./node_modules/bootstrap/scss/mixins.scss";

// Structure
@import "custom/structure/general";
@import "custom/structure/topbar";
@import "custom/structure/page-head";
@import "custom/structure/footer";
@import "custom/structure/right-sidebar";
@import "custom/structure/vertical";
@import "custom/structure/horizontal-nav";
@import "custom/structure/layouts";

// Components
@import "custom/components//waves";
@import "custom/components/alert";
@import "custom/components/avatar";
@import "custom/components/helper";
@import "custom/components/preloader";
@import "custom/components/forms";
@import "custom/components/widgets";
@import "custom/components/demos";
@import "custom/components/print";

// Plugins
@import "custom/plugins/custom-scrollbar";
@import "custom/plugins/calendar";
@import "custom/plugins/dragula";
@import "custom/plugins/session-timeout";
@import "custom/plugins/range-slider";
@import "custom/plugins/sweatalert2";
@import "custom/plugins/rating";
@import "custom/plugins/parsley";
@import "custom/plugins/select2";
@import "custom/plugins/bootstrap-touchspin";
@import "custom/plugins/switch";
@import "custom/plugins/datepicker";
@import "custom/plugins/form-editors";
@import "custom/plugins/form-upload";
@import "custom/plugins/form-wizard";
@import "custom/plugins/datatable";
@import "custom/plugins/responsive-table";
@import "custom/plugins/table-editable";
@import "custom/plugins/apexcharts";
@import "custom/plugins/flot";
@import "custom/plugins/sparkline-chart";
@import "custom/plugins/google-map";
@import "custom/plugins/vector-maps";

// Pages
@import "custom/pages/ecommerce";
@import "custom/pages/authentication";
@import "custom/pages/email";
@import "custom/pages/coming-soon";
@import "custom/pages/timeline";
@import "custom/pages/extras-pages";

body {
    min-width: initial !important;
}

// background pages
.bg-page {
    color: #fff;
    background: -webkit-linear-gradient(110deg, #ffffff 40%, rgba(0, 0, 0, 0) 30%), -webkit-radial-gradient(farthest-corner at 0% 0%, #950000c5 70%, #64190e 70%);
    background: -o-linear-gradient(110deg, #ffffff 40%, rgba(0, 0, 0, 0) 30%), -o-radial-gradient(farthest-corner at 0% 0%, #950000c5 70%, #64190e 70%);
    background: -moz-linear-gradient(110deg, #ffffff 40%, rgba(0, 0, 0, 0) 30%), -moz-radial-gradient(farthest-corner at 0% 0%, #950000c5 70%, #950000c5 70%);
    background: linear-gradient(110deg, #ffffff 40%, rgba(0, 0, 0, 0) 30%), radial-gradient(farthest-corner at 0% 0%, #950000c5 70%, #950000c5 70%);
    height: 100vh !important;
}

.account-pages {
    display: grid;
    place-items: center;
    gap: 1em;
    height: 100vh;
}

.login-page-content {
    background: white;
    border-radius: 5px;
    padding: 2em;
}

.login-p p {
    color: #707d8a;
}

.login-container {
    width: 100%;
}

.login-container img {
    width: 100%;
}

// Header logo
.logo-lg {
    width: 40%;
    height: 10%
}

.logo-lg img {
    width: 100%;
    height: 100%;
}

.apex-charts{
    width: 100%;
    // min-height: 250px;
}

// .cards{
//     min-height: 50%;
//     background-color: black
// }

// * Login Screen
@media (max-width: 766px) {
    h4{
        font-size: 14px;
    }
    h2{
        font-size: 18px;
    }
    .icon-mobile-size{
       width: 50%;
    }
    .desktop {
        display: none
    }
}

@media (min-width: 768px) {
    .login-page-content {
        width: 70%;
        margin: 0 auto;
    }
    .login-page-content {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }
    .mobile {
        display: none;
    }
}










// ! CSS COLORS
// * GRAY
.gray-100 {
    color: #f8f9fa
}

.gray-200 {
    color: #eff2f7
}

.gray-300 {
    color: #f6f6f6
}

.gray-400 {
    color: #ced4da
}

.gray-500 {
    color: #adb5bd
}

.gray-600 {
    color: #626c76
}

.gray-700 {
    color: #495057
}

// * GREEN
.green-100 {
    color: #86EFAC
}

.green-200 {
    color: #86EFAC
}

.green-300 {
    color: #86EFAC
}

.green-400 {
    color: #4ADE80
}

.green-500 {
    color: #22C55E
}

.green-600 {
    color: #16A34A
}

.green-700 {
    color: #15803D
}

.green-800 {
    color: #166534
}

.green-900 {
    color: #14532D
}


// * RED
.red-50 {
    color: #FEF2F2
}
.red-100 {
    color: #FEE2E2
}

.red-200 {
    color: #FECACA
}

.red-300 {
    color: #FCA5A5
}

.red-400 {
    color: #F87171
}

.red-500 {
    color: #EF4444
}

.red-600 {
    color: #DC2626
}

.red-700 {
    color: #B91C1C
}

.red-800 {
    color: #991B1B
}

.red-900 {
    color: #7F1D1D
}

// * ORANGE
.orange-50 {
    color: #FFF7ED
}
.orange-100 {
    color: #FFEDD5
}

.orange-200 {
    color: #FED7AA
}

.orange-300 {
    color: #FDBA74
}

.orange-400 {
    color: #FB923C
}

.orange-500 {
    color: #F97316
}

.orange-600 {
    color: #EA580C
}

.orange-700 {
    color: #C2410C
}

.orange-800 {
    color: #9A3412
}

.orange-900 {
    color: #7C2D12
}










//* BACKGROUND-COLOR BLUE
.bg-primary{
    background-color: #3b5de7;
}
.bg-primary-gradien{
    background-color: #3b5de7;
}
.bg-primary-soft{
    background-color: #3b5de7;
}


.bg-green{
    background-color:#45cb85
}
.bg-green-gradient{
    background-color:#45cb85
}
.bg-green-soft{
    background-color:#45cb85
}


.bg-warning{
    background-color:#eeb902
}
.bg-warning-gradient{
    background-color:#eeb902
}
.bg-warning-sof{
    background-color:#eeb902
}


.bg-info{
    background-color:rgb(29 78 216);
}
.bg-info-gradient{
    background-color:rgb(59 130 246);
}
.bg-info-soft{
    background-color:rgb(147 197 253);
}


.bg-danger{
    background-color:#ff715b
}
.bg-dange-gradient{
    background-color:#fca5a5;
}
.bg-danger-soft{
    background-color:#fee2e2;
}


.bg-dark{
    background-color:#343a40
}
.bg-dark-gradient{
    background-color:#343a40
}
.bg-dark-soft{
    background-color:#343a40
}


.bg-secondary{
    background-color:#9095ad
}
.bg-secondary-gradient{
    background-color:#9095ad
}
.bg-secondary-soft{
    background-color:#9095ad
}




//* ROSE
.bg-rose-100{
    background-color:rgb(254 205 211);
}
.bg-rose-200{
    background-color:rgb(253 164 175);
}
.bg-rose-300{
    background-color:rgb(251 113 133);
}
.bg-rose-400{
    background-color:rgb(251 113 133);
}
.bg-rose-500{
    background-color:rgb(244 63 94);
}
.bg-rose-600{
    background-color: rgb(225 29 72);
}



// * PINK
.bg-pink-50{background-color: rgb(253 242 248);}
.bg-pink-100{background-color: rgb(252 231 243)};
.bg-pink-200{background-color: rgb(251 207 232)};
.bg-pink-300{background-color: rgb(249 168 212)};
.bg-pink-400{background-color: rgb(244 114 182)};
.bg-pink-500{background-color: rgb(236 72 153)};
.bg-pink-600{background-color: rgb(219 39 119)};
.bg-pink-700{background-color: rgb(190 24 93)};
.bg-pink-800{background-color: rgb(157 23 77)};
.bg-pink-900{background-color: rgb(131 24 67)};


//* Funasia 
.bg-fuchsia-50	{background-color: rgb(253 244 255)}
.bg-fuchsia-100	{  background-color: rgb(250 232 255);}
.bg-fuchsia-200	{  background-color: rgb(245 208 254)};
.bg-fuchsia-300	{  background-color: rgb(240 171 252)};
.bg-fuchsia-400	{  background-color: rgb(232 121 249)};
.bg-fuchsia-500	{  background-color: rgb(217 70 239)}
.bg-fuchsia-600	{  background-color: rgb(192 38 211)}
.bg-fuchsia-700	{  background-color: rgb(162 28 175)}
.bg-fuchsia-800	{  background-color: rgb(134 25 143)}
.bg-fuchsia-900	{  background-color: rgb(112 26 117)};



// * PURPLE
.bg-purple-50  {    background-color: rgb(250 245 255)};
.bg-purple-100 {	background-color: rgb(243 232 255)};
.bg-purple-200 {	background-color: rgb(233 213 255)};
.bg-purple-300 {	background-color: rgb(216 180 254)};
.bg-purple-400 {	background-color: rgb(192 132 252)};
.bg-purple-500 {	background-color: rgb(168 85 247);}
.bg-purple-600 {	background-color: rgb(147 51 234);}
.bg-purple-700 {	background-color: rgb(126 34 206);}
.bg-purple-800 {	background-color: rgb(107 33 168);}
.bg-purple-900 {	background-color: rgb(88 28 135)};


// * VIOLET
.bg-violet-50  {    background-color: rgb(245 243 255);}	
.bg-violet-100 {	background-color: rgb(237 233 254);}	
.bg-violet-200 {	background-color: rgb(221 214 254);}	
.bg-violet-300 {	background-color: rgb(196 181 253);}
.bg-violet-400 {	background-color: rgb(167 139 250);}
.bg-violet-500 {	background-color: rgb(139 92 246);}	
.bg-violet-600 {	background-color: rgb(124 58 237);}	
.bg-violet-700 {	background-color: rgb(109 40 217);}	
.bg-violet-800 {	background-color: rgb(91 33 182);}
.bg-violet-900 {	background-color: rgb(76 29 149);}


// * INDIGO
.bg-indigo-50	{background-color: rgb(238 242 255);}	
.bg-indigo-100	{background-color: rgb(224 231 255);}	
.bg-indigo-200	{background-color: rgb(199 210 254);}	
.bg-indigo-300	{background-color: rgb(165 180 252);}	
.bg-indigo-400	{background-color: rgb(129 140 248);}	
.bg-indigo-500	{background-color: rgb(99 102 241);}	
.bg-indigo-600	{background-color: rgb(79 70 229);}
.bg-indigo-700	{background-color: rgb(67 56 202);}
.bg-indigo-800	{background-color: rgb(55 48 163);}
.bg-indigo-900	{background-color: rgb(49 46 129);}