body {
    margin: 0;
}

.div1,
.div2 {
    height: 100vh;
}

.div1 {
    background-color: bisque;
}

.div2 {
    background: black;
}

.square {
    width: 150px;
    height: 150px;
    background: fuchsia;
}

.square2 {
    width: 150px;
    height: 150px;
    background: rgb(44, 30, 44);
}