:root {
    --primary: #024860;
    --secondary: #ff9d45;
    --white: #ffffff;
    --font-size: 1rem;
    --font-size-2: 1.5rem;
    --font-size-lg: 5rem;
    --margin: 1em;
    --font-weight: 700;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: 2em;
}

h1 {
    font-size: var(--font-size-lg);
    margin: var(--margin);
    font-weight: var(--font-weight);
}

h2 {
    font-weight: var(--font-weight);
    margin: var(--margin);
    color: var(--white);
}

h4 {
    color: var(--white);
    font-weight: var(--font-weight);
}


/** INTRODUCTION */

.section_1 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
    z-index: 0;
}

.section_1 {
    background-image: url("./../assets/images/bg-img/ITFluence_infographics_intro.png");
}

.section_1 p {
    text-align: center;
    padding-top: 2em;
    width: 50%;
    margin: 0 auto;
    color: var(--white);
    font-size: var(--font-size-2);
}

.section_1 h1,
.section_2 h2,
.section_3 h2 {
    text-align: center;
}

.section_1 .color {
    color: var(--secondary);
}

.speech_1 {
    width: 100%;
    height: 50vh;
    border: 5px solid red;
    background: var(--primary) !important;
    margin-top: 30em;
    z-index: 10;
    background: #ff9d45 !important;
}

.section_1 img {
    width: 100%;
}


/* *SECTION 2  */

.section_2 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    border: 5px solid red;
    min-height: 100vh;
}

.section_2 {
    background-image: url("./../assets/images/bg-img/ITFluence_infographics_level_1.png");
}

.section_2 .color {
    color: var(--secondary);
}

.speech_2 {
    width: 100%;
    height: 50vh;
    border: 5px solid red;
    background: var(--primary) !important;
    margin-top: 30em;
    z-index: 10;
    background: #ff9d45 !important;
}

.section_2 img {
    width: 100%;
}

.content {
    border: 5px solid red;
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
}

.content h4 {
    margin: 5em;
    background: #ff9d45;
    text-align: center;
    padding: 0 1em;
}


/* *SECTION 3  */

.section_3 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    border: 5px solid red;
    min-height: 100vh;
}

.section_3 {
    background-image: url("./../assets/images/bg-img/ITFluence_infographics_level_2.png");
}

.section_3 .color {
    color: var(--secondary);
}

.speech_3 {
    width: 100%;
    min-height: 50vh;
    border: 5px solid red;
    background: var(--primary) !important;
    margin-top: 30em;
    z-index: 10;
    background: #ff9d45 !important;
}

.section_3 img {
    width: 100%;
}

.content {
    border: 5px solid red;
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding-top: 10em;
    margin: 0 auto;
}

.content h4 {
    margin: 5em;
    background: #ff9d45;
    text-align: center;
    padding: 0 1em;
}

.left__content img,
.right__content img {
    width: 50%;
}


/* *SECTION 4  */

.section_4 {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    border: 5px solid red;
    min-height: 100vh;
}

.section_4 {
    background-image: url("./../assets/images/bg-img/ITFluence_infographics_level_3.png");
}

.section_4 .color {
    color: var(--secondary);
}

.speech_4 {
    width: 100%;
    height: 50vh;
    border: 5px solid red;
    background: var(--primary) !important;
    margin-top: 30em;
    z-index: 10;
    background: #ff9d45 !important;
}

.section_4 img {
    width: 100%;
}

.content_2 {
    border: 5px solid red;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20em;
    margin: 0 auto;
}

.content_2 h4 {
    margin: 5em;
    background: #ff9d45;
    text-align: center;
    padding: 0 1em;
}

.left__content_2 img,
.right__content_2 img {
    width: 30%;
}

.icon-img-container {
    color: var(--white);
    text-align: center;
}